html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.d-none{
    display: none;
}

.table-body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSize{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 29px;
    top: 29px;
}

td{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 4px solid;
    position: relative;
}

td:hover{
    background-color: rgba(0,0,0,0.2);
}
.displayPlayer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayPlayer h1{
    margin: 0 0 50px 0;
    color: cornflowerblue;
}

.sortBG{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(./img/jungle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}