html{
    scroll-behavior: smooth;
    user-select: none;
    font-family: 'Mochiy Pop P One', sans-serif;
}

body{
    margin: 0;
}

.d-none{
    display: none;
}

.table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgSize{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 16px;
    top: 16px;
}

td{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 4px solid;
    position: relative;
}

td:hover{
    background-color: rgba(0,0,0,0.2);
}
.displayPlayer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayPlayer h1{
    margin: 0 0 50px 0;
    color: #1c0b7f;
}

.sortBG{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(./img/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.startScreenDesign{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/art.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btnStart{
    width: 300px;
    height: 50px;
    border-radius: 16px;
    background-color: burlywood;
    cursor: pointer;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: white;
    font-size: 21px;
}

.startScreenSub{
    margin-left: 546px;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.startScreenSub h1, p{
    color: burlywood;
}

.startScreenSub h1{
    font-size: 50px;
}

.startScreenSub p{
    font-size: 26px;
}

.startScreenSub input{
    height: 50px;
    font-size: 25px;
    border-radius: 16px;
    text-align: center;
    border: none;
    color: burlywood;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.startScreenSub input:focus{
    outline: none;
}

.button-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.horizontal-line{
    z-index: 50;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical{
    transform: rotate(90deg);
    transform: scaleY(0.0);
    transition: transform 225ms ease-in-out;
}

.gameOverSort{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    animation: zoomIn 600ms ease-in-out;
}

.restart-btn{
    background-color: hsl(249deg 84% 27%);
    width: 121px;
    height: 50px;
    border-radius: 16px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 0;
    color: white;
    font-weight: bold;
    font-size: 21px;
    box-shadow: 0px 0px 25px 13px rgba(255,255,255,0.5);
}

@keyframes zoomIn{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.gameOver{
    z-index: 100;
    position: absolute;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 391px){

    .imgSize{
        width: 75px;
        height: 75px;
        left: 16px;
        top: 16px;
    }

    td{
        width: 100px;
        height: 100px;
    }

}